<h2>About this Blog</h2>

<p>This blog site was created to explore the wonderful world of Ember.js. This project allows us to create, edit and delete short blog posts while simultaneously traversing the pathways of the Ember framework!</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
